body {
    font-family: 'Cinzel Decorative', sans-serif;
    background-color: #ffffe6;
    color: #333333;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 50px 0;
    background-color: #ffcc66;
    color: #333333;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.header h2 {
    font-size: 24px;
    margin-top: 0;
    font-weight: 400;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-container {
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.03);
}

.image-container img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.image-container p {
    font-size: 18px;
    padding: 20px;
    background-color: #ffffff;
    margin: 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.content {
    margin-top: 70px; 
    padding: 20px;
}

.open-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 1001; 
}

.sidebar1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    z-index: 1000; 
    display: none; 
}

#enjoy {
    font-size: 33px;
    color: black;
    text-align: center;
    line-height: 70px;
    user-select: none;
    background-color: #f7d38c;
    border-bottom: 1px solid black;
}

#boors {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

#boors:hover {
    padding-left: 50px;
}

#side {
    list-style-type: none;
}

.close {
    display: block;
    height: 50px;
    width: 250px;
    line-height: 40px;
    font-size: 33px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    background-color: #ffcc66;
}

.open {
    font-size: 50px;
    background-color: #ffcc66;
    border: 0.1px;
    position: relative;
    bottom: 90px;
}
.import{
    position: relative;
    top:0;
    width: 100%;
    height:70px;
    background-color: #ffcc66;
  }
  #linkLog{
    float:right;
    position: relative;
    bottom: 50px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  #linkLog:hover{
    text-decoration: underline;
  }
  #home{
    position: relative;
    left:100px;
    bottom: 40px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  #home:hover{
    text-decoration: underline;
  }
.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    position: relative;
    left:300px;
    top:10px;
}

.search-input {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    margin-left: 24px;
    border: none;
    outline: none;
    background: transparent;
}
.footer .foot {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 5px;
  }
  
  .footer .footh{
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;
    padding-top: 5px;
  }
  
  .footer ul {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    left: 3px;
  }
  
  .footer ul a {
    font-size: 1.5rem;
    text-align: left;
    margin: 0.5rem 0; /* Add margin for spacing */
  }
  
  .footer ul a:hover{
    text-decoration: underline;
  }
  footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#ffcc66 ;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 -.5rem 1rem rgba(0, 0, 0, .1);
    z-index: 1000;
    margin-top:900px;
  }